<div id="editModal" tabindex="-1" class="modal fade in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-info">
            <div class="box-header with-border">
                <h5 class="box-title" id="Title"></h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal">
                <input type="hidden" id="Id" />
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputPassword3">项目名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="Code" type="text" placeholder="项目名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">建设单位</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="Name" type="text" placeholder="建设单位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">招标代理公司</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" type="text" placeholder="招标代理公司">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投标类型</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投标类型">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投标时间</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投标时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">项目负责人</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="项目负责人">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投标负责人</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投标负责人">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投保参与人</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投保参与人">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投标保证金</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投标保证金">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">保证金收款账户</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="保证金收款账户">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">招标代理服务费</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="招标代理服务费">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">退款</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="退款">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">保证退还时间</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="保证退还时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">联合体</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="联合体">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">施工分包单位</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="施工分包单位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">投标价格</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="投标价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">竞争对手</label>
                        <div class="col-sm-9">
                            <input id="Remarks" class="form-control" placeholder="竞争对手">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">备注</label>
                        <div class="col-sm-9">
                            <textarea id="Remarks" class="form-control" placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right box-tools">
                        <button id="btnSave" class="btn btn-primary" type="button">保存</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

